// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
    background-image: url('http://lorempixel.com/1400/500/sports/3/');
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar {
    margin-bottom: 0;
}
.btn a {
    color: #fff;
}